// import file scss
@import "./theme/component";
@import "./theme/mixin";
@import "./theme/variable";

// GLOBAL (write code css for all page)
body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.bubblegum-sans {
    font-family: "Bubblegum Sans", sans-serif;
}
.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn {
    @include styleBtn(
        $bg-blue,
        $text-color-white,
        5px,
        $bg-green,
        $text-color-white,
        20px 30px
    );
}
.header-title-h2 {
    font-size: $fs-xxl;
    font-weight: $fw-700;
    font-family: $ff-jost;
}
.header-title-p {
    font-family: $ff-bubblegum;
    font-size: $fs-sm;
    margin: 0;
}
.p {
    color: $text-foreground;
}
// HEADER
header {
    .header-top {
        background-color: $bg-red;
        padding: 14px 0px;
        .header-info {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-color-white;
            gap: 3rem;
            a {
                text-decoration: none;
                color: $text-color-white;
            }
            p {
                margin: 0;
            }
        }
        .header-icon {
            ul {
                list-style-type: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                margin: 0;
                a {
                    border: 1px solid rgba(255, 255, 255, 0.216);
                    border-radius: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    width: 1.5rem;
                    height: 1.5rem;
                    transition: all 0.5s;
                    overflow: hidden;
                    i {
                        transition: all 0.5s;
                        font-size: $fs-xl;
                        color: $bg-red;
                        z-index: -1;
                    }
                    &:hover {
                        border-color: $bg-primary;
                        i {
                            color: $bg-primary;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        .header-brand {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: $fs-xl;
                font-weight: $fw-700;
                color: $muted;
                margin-bottom: 0;
            }
        }
        .header-nav {
            ul {
                li {
                    @include styleText($fs-xs, $fw-600, $muted);
                    background-color: $text-color-white;
                    font-family: $ff-jost;
                    position: relative;
                    z-index: 10;
                    a {
                        transition: all 0.8s;
                    }
                    ul {
                        transition: all 0.8s;
                        visibility: hidden;
                        opacity: 0;
                        padding: 0;
                        list-style-type: none;
                        position: absolute;
                        content: "";
                        width: max-content;
                        top: 200%;
                        left: 10%;
                        box-shadow:
                            3px 3px 10px rgba(0, 0, 0, 0.1),
                            -3px -3px 10px rgba(0, 0, 0, 0.1);
                        li {
                            padding: 10px 10px;
                            text-align: left;
                            width: 224px;
                            border-bottom: 0.5px solid $bg-blue;
                            &:last-of-type {
                                border-bottom: none;
                            }
                            .menu-item {
                                text-decoration: none;
                                color: $muted;
                            }
                        }
                    }
                    &:hover {
                        a {
                            color: $text-color-orange;
                        }
                        ul {
                            visibility: visible;
                            opacity: 1;
                            top: 120%;
                            left: 10%;
                            li {
                                transition: all 0.5s;
                                cursor: pointer;
                                &:hover {
                                    background-color: $bg-primary;
                                    .menu-item {
                                        color: $text-color-white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn-header {
                border-radius: 8px;
                height: 60px;
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-left: 80px;
            }
        }
    }
}

// BANNER
.banner {
    background-color: $bg-warm;
    padding-top: 4rem;
    height: fit-content;
    .banner-img-circle {
        content: "";
        left: 0;
        animation: leftToRight 4s linear infinite;
        img {
            &:first-of-type {
                width: 64px;
                height: 100px;
            }
            &:last-of-type {
                width: 54px;
                height: 54px;
                position: relative;
                left: 60%;
                top: 25px;
            }
        }
    }
    .banner-content {
        .banner-content-left-pic {
            animation: bottomToTop 4s linear infinite;
            position: relative;
            img {
                position: relative;
                top: -10px;
                left: 10px;
            }
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 2px solid $bg-primary;
                border-radius: 125px;
                z-index: 10;
            }
        }
        .banner-text {
            h1 {
                font-size: $fs-xxxl;
                position: relative;
                font-family: $ff-jost;
                img {
                    position: absolute;
                    content: "";
                    top: -2%;
                    left: 8%;
                    height: 25px;
                    width: 25px;
                }
                span {
                    &:first-of-type {
                        font-weight: $fw-400;
                    }
                    &:nth-of-type(2) {
                        font-weight: $fw-700;
                    }
                    &:last-of-type {
                        font-weight: $fw-700;
                        color: $text-color-red;
                    }
                }
            }
            p {
                color: $text-foreground;
            }
            a {
                @include styleBtn(
                    $bg-green,
                    $text-color-white,
                    5px,
                    $bg-blue,
                    $text-color-white,
                    18px 35px
                );
            }
        }
        .banner-content-three-start {
            padding-bottom: 9rem;
            margin-right: 6rem;
            animation: rotateLeftRight 4s linear infinite;
            img {
                &:nth-of-type(2) {
                    position: relative;
                    top: -15%;
                }
                &:last-of-type {
                    position: relative;
                    top: -35%;
                }
            }
        }
        .banner-content-right-boy {
            position: relative;
            margin-top: -120px;
            animation: bottomToTop 4s linear infinite;
            img {
                position: relative;
                top: -5px;
                left: 10px;
            }
            &::after {
                position: absolute;
                content: "";
                top: 3px;
                left: 0;
                width: 100%;
                height: 84%;
                z-index: 2;
                border: 2px solid $bg-blue;
                border-radius: 125px;
            }
        }
    }
    .banner-right-circle {
        position: absolute;
        content: "";
        bottom: 25%;
        right: 0;
        animation: bottomToTop 4s linear infinite;
    }
}

// COUNTER
.counter {
    .counter-content {
        gap: 3rem;
        .left-content {
            width: 50%;
            padding-right: 3rem;
            p {
                &:first-of-type {
                    font-family: $ff-bubblegum;
                    color: $text-color-orange;
                    font-size: $fs-sm;
                    margin: 0;
                }
                &:last-of-type {
                    color: $text-foreground;
                }
            }
            h2 {
                font-size: $fs-xxl;
                font-weight: $fw-700;
                font-family: $ff-jost;
            }
            button {
                border: 1px solid rgba(0, 0, 0, 0.1);
                @include styleBtn(
                    $text-color-white,
                    $muted,
                    5px,
                    $bg-blue,
                    $text-color-white,
                    18px 30px
                );
            }
        }
        .right-content {
            padding: 5rem 0;
            width: 50%;
            .card {
                border: 1px solid rgba(0, 0, 0, 0.1);

                width: 48%;
                height: 45%;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                padding: 1.5rem;
                .card-icon {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    color: $text-color-white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;
                    i {
                        font-size: 40px;
                    }
                }
                .card-icon1 {
                    background-color: $bg-primary;
                }
                .card-icon2 {
                    background-color: $bg-red;
                }
                .card-icon3 {
                    background-color: $bg-green;
                }
                .card-icon4 {
                    background-color: $bg-blue;
                }
                .card-content {
                    padding-right: 1rem;
                    h3 {
                        font-size: $fs-xxl;
                        font-weight: $fw-700;
                        font-family: $ff-jost;
                        margin: 0;
                    }
                    p {
                        color: $text-foreground;
                        margin: 0;
                    }
                }
            }
        }
    }
}

// ABOUT
.about {
    .about-content {
        .content-left {
            .img {
                position: relative;
                img {
                    &:first-of-type {
                        position: absolute;
                        content: "";
                        top: -40px;
                        left: -40px;
                    }
                }
            }
            .list-card {
                .card {
                    &:first-of-type {
                        border-radius: 10px;
                        border: none;
                        background-color: $bg-warm;
                        padding: 1.5rem 0.5rem;
                        h3 {
                            font-size: $fs-md;
                            font-family: $ff-jost;
                            font-weight: $fw-700;
                            margin: 0;
                        }
                        p {
                            margin: 0;
                            color: $text-foreground;
                        }
                    }
                    &:last-of-type {
                        height: fit-content;
                        border-radius: 10px;
                        border: none;
                        background-color: #fff;
                        padding: 1rem;
                        box-shadow:
                            3px 3px 15px rgba(0, 0, 0, 0.05),
                            -3px -3px 10px rgba(0, 0, 0, 0.05);
                        h3 {
                            font-size: $fs-xxl;
                            font-family: $ff-jost;
                            font-weight: $fw-700;
                            color: $text-color-blue;
                            margin: 0;
                        }
                        p {
                            margin: 0;
                            color: $text-foreground;
                        }
                    }
                }
            }
        }
        .content-right {
            padding-right: 5rem;
            p {
                &:first-of-type {
                    color: $text-color-blue;
                }
            }
            button {
                border: 1px solid rgba(0, 0, 0, 0.1);
                @include styleBtn(
                    $text-color-white,
                    $muted,
                    5px,
                    $bg-blue,
                    $text-color-white,
                    18px 30px
                );
            }
        }
    }
}
// PROGRAMS
.programs {
    .programs-content {
        .title {
            text-align: center;
            p {
                color: $text-color-green;
            }
        }
        .list-card {
            padding-top: 4rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 2rem;
            column-gap: 4rem;
            img {
                animation: rightToLeft 3s linear infinite;
                top: 50px;
                right: 40px;
            }
            .card {
                border-radius: 10px;
                position: relative;
                padding: 2.5rem;
                border: 2px solid rgba(0, 0, 0, 0.05);
                transition: all 0.5s;
                .left-card {
                    transition: all 0.5s;

                    position: absolute;
                    content: "";
                    border: 1px solid rgba(0, 0, 0, 0.08);
                    color: $text-color-green;
                    top: 30%;
                    left: -7%;
                    background-color: #fff;
                    width: 88px;
                    height: 88px;
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        font-size: 50px;
                    }
                }
                .right-card {
                    transition: all 0.5s;
                    padding-left: 2.75rem;
                    a {
                        text-decoration: none;
                        color: black;
                        &:first-of-type {
                            font-size: $fs-lg;
                            font-weight: $fw-600;
                            font-family: $ff-jost;
                        }
                        &:last-of-type {
                            transition: all 0.5s;
                            margin: 0;
                            &:hover {
                                color: $text-color-green;
                            }
                        }
                    }
                    p {
                        padding: 10px 0;
                    }
                }
                &:hover {
                    border: 2px solid transparent;
                    box-shadow:
                        3px 3px 20px rgba(0, 0, 0, 0.05),
                        -3px -3px 20px rgba(0, 0, 0, 0.05);
                    .left-card {
                        background-color: $bg-green;
                        color: $text-color-white;
                    }
                    .right-card {
                        a {
                            &:first-of-type {
                                color: $text-color-green;
                            }
                        }
                    }
                }
            }
        }
    }
}

// PORTFOLIO
.portfolio {
}

// SERVICE
.service {
}

// FAQ
.faq {
}

// TEAM
.team {
}

// STUDENT
.student {
}

// TESTIMONIAL
.testimonial {
}

// BLOG
.blog {
}

// CONNECTED
.connected {
}

// FOOTER
footer {
}

@keyframes leftToRight {
    0% {
        transform: translateX(-38px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-38px);
    }
}

@keyframes bottomToTop {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes rotateLeftRight {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

@keyframes rightToLeft {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}
