// Background color
$background: #fff;
$bg-primary: #f7941e;
$bg-red: #ed145b;
$bg-green: #73be48;
$bg-blue: #1cbbb4;
$bg-bold-blue: #0a6375;
$bg-warm: #fff0e5;

// Text color
$text-color-orange: #f7941e;
$text-color-white: #fff;
$text-color-red: #ed145b;
$text-color-blue: #1cbbb4;
$text-color-green: #73be48;
$text-foreground: #686868;

// Button color
$border-color: #e5e7eb;

// Other color
$foreground: #686868;
$warm: #fff0e5;
$muted: #000;
$muted-foreground: #000;
$swiper-theme-color: #007aff;

/*---------------------------------------------------------*/

// Font size
$fs-base: 16px;
$fs-xs: 18px;
$fs-sm: 19px;
$fs-md: 20px;
$fs-lg: 24px;
$fs-xl: 30px;
$fs-xxl: 32px;
$fs-xxxl: 70px;

// Font weight
$fw-300: 300;
$fw-300: 400; // this fw is normal text
$fw-300: 500;
$fw-300: 600;
$fw-300: 700;
$fw-300: 800;
$fw-300: 900;
